@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'SpaceGrotesk-VariableFont';
	src: url("./lib/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

@font-face {
	font-family: 'Inter-VariableFont';
	src: url("./lib/fonts/Inter-VariableFont_wght.ttf");
}


@layer utilities {
 
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .grainy-gradient {
        background: linear-gradient(to bottom, white 0%, white 5%, #669eff 40%, white 80%);
    }
}

html {
        font-size:14px;
        font-family: SpaceGrotesk-VariableFont;
        scroll-behavior: smooth;
        @screen sm {  
            font-size:16px;
        }
    
    }

    body {
        @apply text-raw-blue text-2xl bg-raw-white
    }


    h1, h2, h3, h4, h5 {
        @apply font-medium pb-2 
    }

    h1 {
        @apply text-2xl sm:text-4xl
    }

    h2 {
        @apply text-lg sm:text-xl
    }

    h3, h4, h5 {
        @apply text-base
    }
    p {
        font-family: Inter-VariableFont;
    }
    .prose, .prose strong {
        @apply text-raw-blue prose-headings:text-raw-blue prose-headings:font-normal prose-headings:mt-0 prose-headings:pb-0 prose-p:pb-0  prose-a:text-raw-blue 
    }

    a {
        @apply text-raw-blue hover:underline underline-offset-2 font-medium 
    }

    .prose a {          
        @apply hover:font-medium
    }

    a.button            {
        @apply hover:text-raw-white hover:no-underline font-normal

    }

    a {
        @apply focus:outline-black focus:outline-4 cursor-pointer
    }
                
    a.inverted:hover{
        @apply text-raw-blue ;
    }

    .uppercase {
        @apply tracking-wide
    }




    .center{
        @apply mx-auto ;
    }

    .right {
        @apply ml-auto;
    }
