

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'SpaceGrotesk-VariableFont';
	src: url("./lib/fonts/SpaceGrotesk-VariableFont_wght.ttf");
    font-display: swap;
}

@font-face {
	font-family: 'Inter-VariableFont';
	src: url("./lib/fonts/Inter-VariableFont_wght.ttf");
    font-display: swap;
}



@layer utilities {
 
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .grainy-gradient {
        @apply bg-gradient-to-b from-white via-[5%] via-raw-blue via-[40%] to-white to-[80%];
    }

}

html {
        font-family: SpaceGrotesk-VariableFont;
        scroll-behavior: smooth;
        @apply text-base 3xl:text-xl 4xl:text-3xl 5xl:text-4xl
    
    }

    body {
        @apply text-raw-blue  bg-raw-white

    }

    .fade {
        mask-image: linear-gradient(90deg, transparent 80%, white);
        -webkit-mask-image: linear-gradient(90deg, transparent 80%, white);
    }

    h1, h2, h3, h4, h5 {
        @apply font-medium pb-2 
    }

    h1 {
        @apply text-2xl sm:text-4xl
    }

    h2 {
        @apply text-lg sm:text-xl
    }

    h3, h4, h5 {
        @apply text-base
    }
    p {
        font-family: Inter-VariableFont;
    }
    .prose, .prose strong, strong, .prose blockquote {
        @apply text-raw-blue prose-headings:text-raw-blue prose-headings:font-normal prose-headings:mt-0 prose-headings:pb-0 prose-p:pb-0  prose-a:text-raw-blue 
    }

    a {
        @apply text-raw-blue hover:underline underline-offset-2 font-medium 
    }

    .prose a {          
        @apply hover:font-medium
    }

    a.button            {
        @apply hover:text-raw-white hover:no-underline font-normal

    }

    a {
        @apply focus:outline-black focus:outline-4 cursor-pointer
    }
                
    a.inverted:hover{
        @apply text-raw-blue ;
    }

    .uppercase {
        @apply tracking-wide
    }




    .center{
        @apply mx-auto ;
    }

    .right {
        @apply ml-auto;
    }
